

<div class="blog-post-content rte">
  <div class="blog-post-content__inner">
    <rte-formatter>
      {{ article.content }}
    </rte-formatter>
  </div>
</div>

{% stylesheet %}
  .blog-post-content {
    width: 100%;
    margin: 0;
  }

  @media screen and (max-width: 749px) {
    .blog-post-content__inner {
      max-width: var(--normal-content-width);
      margin: 0 auto;
      padding-left: var(--page-margin);
      padding-right: var(--page-margin);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.content",
  "settings": [],
  "presets": [
    {
      "name": "t:names.content"
    }
  ]
}
{% endschema %}
