
{% liquid
  assign block_settings = block.settings
  assign icon_block_class = 'marquee-icon-text__icon marquee-icon-text-' | append: block.id
%}

<div
  class="marquee-icon-text marquee-icon-text--{{ block.id }}"
  {{ block.shopify_attributes }}
>
  {% if block_settings.icon != 'none' or block_settings.image_upload != blank %}
    <div class="marquee-icon-text__icon-wrapper">
      {% render 'icon-or-image',
        icon: block_settings.icon,
        image_upload: block_settings.image_upload,
        width: block_settings.icon_width,
        class_name: icon_block_class,
        attributes: ''
      %}
    </div>
  {% endif %}

  {% if block_settings.text != blank %}
    <div class="marquee-icon-text__text">
      {{ block_settings.text }}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .marquee-icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }

  .marquee-icon-text__icon-wrapper {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .marquee-icon-text__icon-wrapper svg,
  .marquee-icon-text__icon-wrapper img {
    display: block;
  }

  .marquee-icon-text__text {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1D425A;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Icon with text",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "apple",
          "label": "Apple"
        },
        {
          "value": "arrow",
          "label": "Arrow"
        },
        {
          "value": "banana",
          "label": "Banana"
        },
        {
          "value": "bottle",
          "label": "Bottle"
        },
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "carrot",
          "label": "Carrot"
        },
        {
          "value": "chat_bubble",
          "label": "Chat bubble"
        },
        {
          "value": "check_box",
          "label": "Check box"
        },
        {
          "value": "clipboard",
          "label": "Clipboard"
        },
        {
          "value": "dairy",
          "label": "Dairy"
        },
        {
          "value": "dairy_free",
          "label": "Dairy free"
        },
        {
          "value": "dryer",
          "label": "Dryer"
        },
        {
          "value": "eye",
          "label": "Eye"
        },
        {
          "value": "fire",
          "label": "Fire"
        },
        {
          "value": "gluten_free",
          "label": "Gluten free"
        },
        {
          "value": "heart",
          "label": "Heart"
        },
        {
          "value": "iron",
          "label": "Iron"
        },
        {
          "value": "leaf",
          "label": "Leaf"
        },
        {
          "value": "leather",
          "label": "Leather"
        },
        {
          "value": "lightning_bolt",
          "label": "Lightning bolt"
        },
        {
          "value": "lipstick",
          "label": "Lipstick"
        },
        {
          "value": "lock",
          "label": "Lock"
        },
        {
          "value": "map_pin",
          "label": "Map pin"
        },
        {
          "value": "nut_free",
          "label": "Nut free"
        },
        {
          "value": "pants",
          "label": "Pants"
        },
        {
          "value": "paw_print",
          "label": "Paw print"
        },
        {
          "value": "pepper",
          "label": "Pepper"
        },
        {
          "value": "perfume",
          "label": "Perfume"
        },
        {
          "value": "plane",
          "label": "Plane"
        },
        {
          "value": "plant",
          "label": "Plant"
        },
        {
          "value": "price_tag",
          "label": "Price tag"
        },
        {
          "value": "question_mark",
          "label": "Question mark"
        },
        {
          "value": "recycle",
          "label": "Recycle"
        },
        {
          "value": "return",
          "label": "Return"
        },
        {
          "value": "ruler",
          "label": "Ruler"
        },
        {
          "value": "serving_dish",
          "label": "Serving dish"
        },
        {
          "value": "shirt",
          "label": "Shirt"
        },
        {
          "value": "shoe",
          "label": "Shoe"
        },
        {
          "value": "silhouette",
          "label": "Silhouette"
        },
        {
          "value": "bluesky",
          "label": "Bluesky"
        },
        {
          "value": "facebook",
          "label": "Facebook"
        },
        {
          "value": "instagram",
          "label": "Instagram"
        },
        {
          "value": "linkedin",
          "label": "LinkedIn"
        },
        {
          "value": "pinterest",
          "label": "Pinterest"
        },
        {
          "value": "snapchat",
          "label": "Snapchat"
        },
        {
          "value": "spotify",
          "label": "Spotify"
        },
        {
          "value": "threads",
          "label": "Threads"
        },
        {
          "value": "tiktok",
          "label": "TikTok"
        },
        {
          "value": "tumblr",
          "label": "Tumblr"
        },
        {
          "value": "twitter",
          "label": "Twitter"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        },
        {
          "value": "youtube",
          "label": "YouTube"
        },
        {
          "value": "whatsapp",
          "label": "WhatsApp"
        },
        {
          "value": "snowflake",
          "label": "Snowflake"
        },
        {
          "value": "star",
          "label": "Star"
        },
        {
          "value": "stopwatch",
          "label": "Stopwatch"
        },
        {
          "value": "truck",
          "label": "Truck"
        },
        {
          "value": "washing",
          "label": "Washing"
        }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "Icon image"
    },
    {
      "type": "range",
      "id": "icon_width",
      "label": "Icon width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Icon with text",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}


