{% comment %}
The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}

{% section 'blog-page-header' %}

<div class="blog-listing-post">
  {% section 'blog-listing-template' %}
</div>
