<div class="page-organic-explained">
  {% section 'video-title' %}
  <div class="text-image_wrapper">
    <div class="image_with_text">
      <div class="text">
        <p>Why choose Organic Cotton?</p>
        <p>Because the benefits are too good to ignore</p>
      </div>
      {% comment %}<div class="images">
        <img src="https://cdn.shopify.com/s/files/1/0289/3240/7375/files/logo_org_little.png?v=1610427314">
      </div>{% endcomment %}
    </div>
  </div>
  {% section 'image-with-text' %}
  {% section 'bg-image-text' %}
</div>

