<div class="our_mission_page">
  {% comment %}<div class="ia_our-mission-rte">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item">
  
          {% comment %}
          <div class="section-header text-center">
            <h1>{{ page.title }}</h1>
          </div>
          {% endcomment %}
  
          <div class="rte ia_our-missionContent">
            {{ page.content }}
  
          </div>
        </div>
      </div>
    </div>
  </div>{% endcomment %}
  
  <div class="our_mission_banner">
    <div class="main_banner_image ia_page-header" style="background-image:url(https://cdn.shopify.com/s/files/1/0289/3240/7375/files/0_e8419d11-a92e-459f-8a1e-47f352f19687.png?v=1691127099);">
    </div>
    
    <div class="mission_text_inner_parents">
      <div class="page-width">
        <div class="mission_text_inner text-center">
          <div class="multicolor_title">
            <span style="color: #7295BB;">O</span><span style="color: #E6BBCA;">U</span><span style="color: #F8D584;">R</span><br>
            <span style="color: #7295BB;">M</span><span style="color: #E6BBCA;">I</span><span style="color: #F8D584;">S</span><span style="color: #7295BB;">S</span><span style="color: #A1AC7D;">I</span><span style="color: #7295BB;">O</span><span style="color: #E6BBCA;">N</span>
          </div>
          <div class="page_description">
        
          </div>
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
  
  <div class="ia_charity-highlights">
  
    {% section 'our-mission-image-content' %}
    
  </div>
  
 {% comment %} <div class="ia_charity-listing">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item">
          {% section 'our-mission-list-content' %}
        </div>
      </div>
    </div>
  </div>{% endcomment %}

  <div class="ia_img_text">
    {% section 'image-and-text' %}
  </div>
</div>