
<div class="ia_termsCondition-header">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item">
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ia_termsCondition-content">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--one-third col-sidebar">
        <div id="jumplink-blog-fixed" class="jumplink-blog-box__container">
          <div class="jumplink-blog-box">
            <div class="main-content ">
              <div class="columnOne" id="tocDiv">
                <ul class="jumplink-blog-box__list" id="tocList">
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item medium-up--two-thirds">

        <div class="rte ia_termsCondition-rte">
          {{ page.content }}
        </div>

      </div>
    </div>
  </div>
</div>