{% if page.handle == 'free-personalisation' %}
  <div class="page_img_inner">
    <img 
      src="https://cdn.shopify.com/s/files/1/0289/3240/7375/files/personalise_me_1_622df7ac-6bb3-4a77-8a49-db2c0a5735b1.png?v=1709294467"
      alt="Image"
      height=""
      width=""
    >
  </div>
{% endif %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
